.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
  margin-top: 20px;
  margin-right: 20px;
  background-color: unset;
  color: #fff;
  font-size: 25px;
}
.modal > section {
  width: 90%;
  max-width: 940px;
  height: 600px;
  margin: 0 auto;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
  display: flex;
}

.modal > section > img {
  width: 60%;
}

.modal > section > div {
  width: 100%;
  height: auto;
}

.modal > section > div > div:nth-child(1) {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
}

.modal > section > div > div:nth-child(1) > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
}

.modal > section > div > div:nth-child(1) > div > img {
  width: 11%;
  height: 50%;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 10px;
}

.modal > section > div > div:nth-child(1) > div > div > div {
  font-size: 12px;
}

.modal > section > div > div:nth-child(1) > div > div > div:nth-child(1) {
  font-weight: bold;
}

.modal > section > div > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  font-size: 24px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.modal > section > div > div:nth-child(2) {
  width: 100%;
  height: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.modal > section > div > div:nth-child(2) > div {
  height: 100%;
  display: flex;
}

.modal > section > div > div:nth-child(2) > div > img {
  width: 11%;
  height: 50%;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 10px;
}

.modal > section > div > div:nth-child(3) {
  width: 100%;
  height: auto;
}

.modal.openModal {
  display: flex;
  align-items: flex-end;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  /* animation: modal-bg-show 0.3s; */
  padding-bottom: 30px;
}
/* @keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
